@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,500&display=swap');

h1,
h3{
    font-family: 'Roboto', sans-serif;
}

#foto{
    display: none;
}

#imagen_perfil{
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}


#container_image_perfil{
    position: relative;
    display: flex;
    justify-content: center;
}

#container_image_perfil::before{
    content: "Subir fotografia";
    position: absolute;
    width: 200px;
    height: 201px;
    background-color: black;
    border-radius: 50%;
    z-index: 1;
    cursor: pointer;
    display: none;
}

#container_image_perfil:hover::before{
    content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADsAAAAsCAMAAADsKDCiAAAAM1BMVEVMaXH////////////////////////////////////////////////////////////////x7/yuAAAAEHRSTlMAQJCgINAQwDDwYICw4HBQAmUofQAAAAlwSFlzAAALEgAACxIB0t1+/AAAAaFJREFUSInFlsva7RAMQIOg1Zv3f9rziVKEXf0nJ4M9sLPkHoWuoFr9I6sSfbWeON+K/DvqvfqEanvLB5jQVWE+QLlOwpLQpTpbImx+k5fuoAk+XIfGrQqNoQnOSZBJw8g6pR0UYNG10k4umOZ0EFZrQZuUnHwisbJW3oOysmIBlpgFbO2gtPdtLASMGRVkVjM3UZUWeALCvTv9Xu1frhwF7/3JUhecJTaYFdtze2pobVOErKnCIbEB9d5jhdrYCVcMux2kkt0ezyh76+PmRQFcY7awa9v+oKY6xiyI7UYFt0KeuDGbZaf010KFnGCDg21BMajiK7vw2O4ciFdWdFyOZdim2O0/sZaxIdHnKxtSujL2mMoVqbkGpX6Bdza4dzQDHZTUBIt85ra4Jt7ZuMBK+PS85gM2Ls68aHCnmTRTbFrk9hRCnHt/Z4/Y/Apk4et+yILZK9SyDfyDBRD22fdttd9YAHTSWqtObrNiP3yKpIupc1V3Xt9E0sRcP96+kRhqNBd7tfgymZD4WISeZ8Wck1jy9kmfktwt7iutTwMA/wAhWjjPd0B6egAAAABJRU5ErkJggg==");
    display: block;
    position: absolute;
    width: 200px;
    height: 201px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    background-color: rgba(0,0,0,0.4);
    border-radius: 50%;
    z-index: 1;
}

div#alert{
    position: fixed;
    bottom: 100px;
    right: 16px;
    animation: exito 7s ease;
    width: auto;
    opacity: 0;
}

@keyframes exito{

    0%{
        bottom: -80px;
        opacity: 0;
    }

    25%{
        bottom: 16px;
        opacity: 1;
    }

    50%{
        bottom: 16px;
        opacity: 1;
    }

    75%{
        bottom: 16px;
        opacity: 1;
    }

    100%{
        bottom: 70px;
        opacity: 0;
    }

}

@media (max-width: 1000px){
    #administracion_user {
        margin-top: 62px ;
        padding: 10px !important;
        box-shadow: none !important;
    }

    #registrar{
        padding: 10px !important;
        box-shadow: none !important;
    }
}

button.btn.dropdown-toggle.text-white.fs-5.fw-lighter.w-100 {
    padding: 0PX;
    text-align: left;
    margin-bottom: 10PX;
}

span.relative.z-0.inline-flex.shadow-sm.rounded-md a svg,
span span svg{
    width: 39px;
}

span.relative.z-0.inline-flex.shadow-sm.rounded-md a,
span.relative.inline-flex.items-center.px-4.py-2.-ml-px.text-sm.font-medium.text-gray-500.bg-white.border.border-gray-300.cursor-default.leading-5,
span.relative.inline-flex.items-center.px-2.py-2.text-sm.font-medium.text-gray-500.bg-white.border.border-gray-300.cursor-default.rounded-l-md.leading-5,
nav.flex.items-center.justify-between div span,
nav.flex.items-center.justify-between div a{
    text-decoration: none;
    border: none !important;
}

#visitas{
    height: 500px;
    background: url("../../img/portada_estadisticas.jpg") no-repeat;
    background-size: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
}

#visitas div{
    z-index: 1;
}

#visitas::before{
    z-index: 1;
    content: "";
    position: absolute;
    bottom: 16px;
    background-image: url("../../img/arrow-down.svg");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center center;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    transform: scale(1);
    transition: .2s ease;
}


#visitas:hover::before{
    transform: scale(1.1);
}

#visitas::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0px;
    bottom: 0px;
}

